{# Produce a RHEL7 "flavor" name for an architecture #}
{%- macro flavor(arch) -%}
  {%- if arch == "x86_64" -%}
    server
  {%- elif arch == "ppc64" -%}
    power
  {%- elif arch == "ppc64le" -%}
    power-le
  {%- elif arch == "s390x" -%}
    system-z
  {%- else -%}
    {{- "Unknown RHEL7 architecture" / 0 -}}
  {%- endif -%}
{%- endmacro -%}
