<or>
  <hostname op="=" value="gatto-1.tpb.lab.eng.brq.redhat.com"/>
  <hostname op="=" value="lenovo-sr950-01.khw2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="lenovo-st550-01.ml3.eng.bos.redhat.com"/>
</or>
