{% include "host_types/bare_metal.host_requires.xml.j2" %}
<!-- blktests srp can't run on machines with these network interfaces -->
<memory op=">=" value="4096"/>
<not>
  <or>
    <device op="=" type="network" driver="mlx4_en"/>
    <device op="=" type="network" driver="mlx5_core"/>
    <device op="=" type="network" driver="i40e"/>
  </or>
</not>
